@{
    ViewBag.Title = "ModelProgressLine";
}
<div class="col-xs-10 col-md-10">
    <div class="radio-section">
        <ul>
            <li>
                @(Html.Kendo().RadioButton().Name("engine1").Checked(true).HtmlAttributes(new{@name = "selecttype"}).Label("전체"))
            </li>
            <li>
                @(Html.Kendo().RadioButton().Name("engine2").HtmlAttributes(new{@name = "selecttype"}).Label("모델러별"))
            </li>
        </ul>
    </div>
    <div class ="dateSelection">
        @(Html.Kendo().DatePicker().Name("startDate")
            .Value(DateTime.Today.AddMonths(-1))
            .Max(DateTime.Today)
            .Culture("ko-KR")
            ) - 
        @(Html.Kendo().DatePicker().Name("endDate")
            .Value(DateTime.Today)
            .Max(DateTime.Today)
            .Culture("ko-KR")
        )
        @(Html.Kendo().Button().Name("buttons").Content("검색").Events(ev => ev.Click("onClick")))
    </div>
    <br />
    <div class="chartArea">
        @(Html.Kendo().Chart<DailyReport.Models.ModelCountData>()
        .Name("LineChart")
        .Title("Pipe Line 작업량")
        .Legend(legend => legend.Position(ChartLegendPosition.Bottom))
        .DataSource(ds => ds
            .Read(read => read
            .Action("ModelProgressLine_Chart", "Chart"))
            .Filter(filter => filter
                .Add(o => o.Date).IsGreaterThanOrEqualTo(new DateTime(2014,10,1))
                .And()
                .IsLessThanOrEqualTo(new DateTime(2014,12,31))
            )
        )
        .Series(series =>
        {
            series.Bar(model => model.Count).Name("전체").Labels(true);
        })
        .CategoryAxis(axis => axis
            .Categories(categories => categories.Date).Date().Title("날짜")
        )
        .ValueAxis(axis => axis
            .Numeric()
            .Labels(labels => labels.Visible(true))
            .MajorUnit(10)

        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
        )
        .ChartArea(chart => chart.Height(800))
    )
    </div>
</div>

<script>
    function onClick(e) {
        var startDate = $("#startDate").data("kendoDatePicker").value($("#value").val());;
        var endDate = $("#endDate").data("kendoDatePicker").value($("#value").val());;
        var chart = $("#LineChart").data("kendoChart");
        chart.dataSource.filter([
            {
                "logic": "and",
                "filters": [
                    {
                    "field": "Date",
                    "operator": "gte",
                    "value": startDate

                    },
                    {
                        "field": "Date",
                        "operator": "lte",
                        "value": endDate
                    }
                    ]}
        ]);
        chart.refresh();
    }

</script>
